$font-family: "Open Sans", Arial, sans-serif;
$dark-background: #242526;
$light-background: #2d2d2d;
$lightest-background: #333;
$almost-black-background: #1C1D1E;
$grey-border-color: #464646;
$grey-border: 1px solid $grey-border-color;
$light-grey-text: #bdbdbd;
$default-text: #8d8d8d;
$almost-white-text: #e9e9e9;
$white-text: #fff;
$transparent: rgba( 0, 0, 0, 0 );
$table-stripe: #323232;
$red: #a94442;

$cgn-blue: #488597;
$map-color: #498049;
$stage-color: #488597;
$bonus-color: #6F477F;
$orange: #A66508;

$online-indicator: #498049;
$offline-indicator: $red;

// approximate csgo color codes as used ingame (e.g. {4}stuff{1}other stuff)
$csgo-1: #F6F6F5;
$csgo-2: #F61512;
$csgo-3: #B476E4;
$csgo-4: #43FF42;
$csgo-5: #B6F589;
$csgo-6: #9DFF4A;
$csgo-7: #F94545;
$csgo-8: #BFC2C8;
$csgo-9: #DEDA75;
$csgo-10: #A8B7CA;
$csgo-11: #6392D4;
$csgo-12: #5759F1;
$csgo-13: #ACBAD0;
$csgo-14: #D000E2;
$csgo-15: #E54F4F;
$csgo-16: #DFAF3F;