<div id="content-wrapper">
	<faq-aside></faq-aside>
	<div id="wrapper">
		<div class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Global Server Rules</h3>
						</div>
						<div class="panel-body">
							<p>These are our general server rules. Please read and follow the rules of our servers. Not knowing the rules is not an excuse to break them. Please note that no one is void from following the rules, regardless of rank within the community. These rules apply across all of our servers.</p>
							<ol>
								<li>
									<strong>Don't cheat, hack, or use exploits.</strong>
									<p>We have a strict zero-tolerance policy when it comes to the use of third party tools, server exploits, ghosting, malicious scripts, and map exploits.</p>
								</li>
								<li>
									<strong>Do not spam on the servers.</strong>
									<p>Do not spam on the servers. If your mic doesn't work properly, please don't use it. The playing of music or sound clips is <strong>NOT</strong> allowed. Players found playing music/clips will be asked to stop. If you fail to stop the music/clip after the second warning, you will be muted/gagged. If you avoid the mute/gag, you will be permanently muted/gagged.</p>
								</li>
								<li>
									<strong>No harassment, racism, discrimination, or threats.</strong>
									<p>This includes, but is not limited to, threats against the servers or its admins, racism, sexism, hate speech, and/or any form of harmful speech used only to offend someone. The servers are for everyone to play on. Don't take joking too far, show respect to all players on the server and within the community.</p>
								</li>
								<li>
									<strong>Do not interfere with admins doing their jobs.</strong>
									<p>This includes arguing with admins over how they decide to handle situations. If you disagree with an admin's actions or feel they are abusing their powers, the best course of action you can take is to post it on our forums and let us know. Arguing in-game won't go anywhere and won't solve anything.</p>
								</li>
								<li>
									<strong>No scamming.</strong>
									<p>We have a zero-tolerance policy when it comes to scamming. This includes tricking another player into a trade that they would not otherwise make. If you have been scammed on one of our servers by a player or member of the community, please make sure to have sufficient proof, screenshot chat logs, and trade history to record the incident. You can make a report in our report thread. Utilize the website <a href="http://steamrep.com/" target="_blank">SteamRep</a> and be sure to report the incident to Valve.</p>
								</li>
								<li>
									<strong>No advertising.</strong>
									<p>Advertising services, websites, other servers, and recruiting for clans/communities is not allowed. This includes in chat, over mic, or in your name. You are allowed to set your name to your Twitch only if you are currently streaming your gameplay on the server, but posting the link in chat, asking for viewers by text or voice is considered advertising/spam. If you feel you have a service that could be mutually beneficial, please contact Otis.</p>
								</li>
								<li>
									<strong>No idling/extended AFK'ing</strong>
									<p>If you connect to one of our servers, please connect to play. Players who excessively idle at spawn or go AFK for an extended period of time will be warned. If you continue to remain idle/AFK, you will be kicked from the server to open space for users who do want to play.</p>
								</li>
							</ol>
							<p><span class="glyphicon glyphicon-asterisk"></span> Please note that these rules are subject to change at any time without warning.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>