<div id="content-wrapper">
	<home-aside></home-aside>
	<div id="wrapper">
		<div class="content">
			<div class="row">
				<div class="col-lg-6" top-players></div>
				<div class="col-lg-6" top-maps></div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-12" top-records record-title="Top WR Holders" short-title="WR" record-type="map"></div>
				<div class="col-lg-4 col-md-12" top-records record-title="Top WRCP Holders" short-title="WRCP" record-type="checkpoint"></div>
				<div class="col-lg-4 col-md-12" top-records record-title="Top WRB Holders" short-title="WRB" record-type="bonus"></div>
			</div>
		</div>
	</div>
</div>