<div class="panel panel-default">
	<div class="panel-heading blue-panel">
		<h3 class="panel-title">{{:: recordsCtrl.title }}</h3>
	</div>
	<div class="panel-body">
		<div spinner class="spinner-center" ng-if="!recordsCtrl.records.loaded && recordsCtrl.records.loading"></div>
		<table class="table table-striped" ng-if="recordsCtrl.records.loaded">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Name</th>
					<th>{{:: recordsCtrl.shortTitle }}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="player in recordsCtrl.records.records">
					<td>{{:: recordsCtrl.getRank( $index ) }}</td>
					<td><a ng-href="#/player/{{:: player.id }}">{{:: player.name }}</a></td>
					<td>{{:: player.count }}</td>
				</tr>
				</tr>
			</tbody>
			<tfoot pageable-table-footer record-set="recordsCtrl.records" parent-columns="3"></tfoot>
		</div>
	</div>
</div>