<div class="modal-header">
	<button type="button" class="close" ng-click="ctrl.close()">&times;</button>
	<h4 class="modal-title">Uh-oh!</h4>
</div>
<div class="modal-body">
	<p>Sorry, it looks like we're having some trouble with our webserver. Please try again in a minute or so.</p>
	<p>If you've been experiencing this for a while, please <a href="http://forum.carbongaming.net/forms/statistics-panel-report.6/respond" target="_blank">click here</a> to file a bug report. Thanks!</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-success" ng-click="ctrl.close()">Got it!</button>
</div>